$red: #f4305f;

.mailchimp {
  padding: 36px 0;
  max-width: 500px;

  h2 {
    margin: 8px 0;
  }

  p {
    font-weight: 400;
    font-size: 14pt;
    margin: 8px 0;
    line-height: 1.3rem;
  }
}

.email-input-container {
  margin-top: 16px;
  display: flex;
}

.email-input {
  flex: 1;
  appearance: none;
  padding: 8px;
  font-family: "Roboto", sans-serif, serif;
  font-size: 12pt;
  border: none;
  border-bottom: 1px solid gainsboro;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: #232129;

  &::placeholder {
    color: gainsboro;
  }
}

.submit {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
  display: flex;
  align-items: center;
  padding: 12px;
  border: none;
  background-color: $red;
  transition: background-color 300ms;

  &:hover {
    cursor: pointer;
    background-color: #dc0a3b;
  }
}
